<div class="form-group">
    @if (!string.IsNullOrWhiteSpace(this.Label))
    {
        <label id="@Labeld" for="@Txtld">
            @Label            
        </label>
    }
    <div class="input-group">
        <TelerikTextBox Name="@Name"
                        Id="@Txtld"
                        Class="form-control"
                        Value="@Value"
                        Password="_hidePassword"
                        ValueChanged="@ValueChanged"
                        ValueExpression="@ValueExpression"
                        @attributes=AllOtherAttributes>
        </TelerikTextBox>

        <div class="input-group-append">
            <div class="pass-btn">
                <TelerikButton OnClick="@RevealPassword"
                               Class="telerik-button-pass"
                               Icon="unlock"
                               Primary="true"
                               ButtonType="ButtonType.Button"
                               Id="btnMostrarPassword"></TelerikButton>
            </div>
        </div>
    </div>

    @if (EditContext != null && ValueExpression != null)
    {
        <ValidationMessage For="@ValueExpression" />
    }
</div>